<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD SQL Map Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias type="com.pandawork.core.entity.AbstractEntity" alias="AbstractEntity" />
    </typeAliases>
    
   	<plugins>
 		<plugin interceptor="com.pandawork.core.dao.mybatis.submeter.plugin.SubmeterPlugin">
 			<property name="shardingConfig" value="shard_config.xml"/>
 		</plugin>
	</plugins>
</configuration>